@{
    int rowNumber = 1;
}

@model IEnumerable<CarBook.Application.Dtos.ModelDtos.GetModelsDto>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Car Model List</h4>
                    <p class="card-subtitle mb-4">
                        Manage car models here. You can create, update and delete car models.
                    </p>
                    <div class="mb-2">
                        <a asp-area="Admin" asp-controller="Model" asp-action="Create" class="btn btn-success waves-effect waves-light">
                            <i class="fas fa-plus"></i>
                            Create Car Model
                        </a>
                    </div>
                    @if (!Model.Any())
                    {
                        <div class="alert alert-info">
                            There is no car model here. Please create a new one.
                        </div>
                    }
                    else
                    {
                        <div class="table-responsive">
                            <table class="table table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td scope="row">@(rowNumber++)</td>
                                            <td>@item.Name</td>
                                            <td>
                                                <a asp-area="Admin" asp-controller="Model" asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning text-white">
                                                    <i class="bi bi-pencil-fill"></i>
                                                    Edit
                                                </a>

                                                <a asp-area="Admin" asp-controller="Model" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger text-white">
                                                    <i class="bi bi-trash3-fill"></i>
                                                    Remove
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
