@model IEnumerable<GetFooterAddressesDto>

@foreach (var footerAddress in Model)
{
   <div class="row mb-5">
       <div class="col-md-12">
           <div class="border w-100 p-4 rounded mb-2 d-flex">
               <div class="icon mr-3">
                   <span class="icon-map-o"></span>
               </div>
               <p><span>Address:</span>@footerAddress.Address</p>
           </div>
       </div>
       <div class="col-md-12">
           <div class="border w-100 p-4 rounded mb-2 d-flex">
               <div class="icon mr-3">
                   <span class="icon-mobile-phone"></span>
               </div>
               <p><span>Phone:</span> <a href="tel://1234567920">@footerAddress.Phone</a></p>
           </div>
       </div>
       <div class="col-md-12">
           <div class="border w-100 p-4 rounded mb-2 d-flex">
               <div class="icon mr-3">
                   <span class="icon-envelope-o"></span>
               </div>
               <p><span>Email:</span> <a href="mailto:info@yoursite.com">@footerAddress.Email</a></p>
           </div>
       </div>
   </div>
}