<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                2025 © Carbook.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-right d-none d-sm-block">
                    Design & Develop by Mustafa Hatipoğlu
                </div>
            </div>
        </div>
    </div>
</footer>