<header id="page-topbar">
    <div class="navbar-header">

        <div class="d-flex align-items-left">
            <button type="button" class="btn btn-sm mr-2 d-lg-none px-3 font-size-16 header-item waves-effect" id="vertical-menu-btn">
                <i class="fa fa-fw fa-bars"></i>
            </button>

            <div class="dropdown d-none d-sm-inline-block">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="mdi mdi-plus"></i> Create New
                    <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>
                </button>
                <div class="dropdown-menu">
                    <!-- item-->
                    <a asp-area="Admin" asp-controller="Car" asp-action="Create" class="dropdown-item notify-item">
                        New Car
                    </a>

                    <!-- item-->
                    <a asp-area="Admin" asp-controller="Brand" asp-action="Create" class="dropdown-item notify-item">
                        New Car Brand
                    </a>

                    <!-- item-->
                    <a asp-area="Admin" asp-controller="Feature" asp-action="Create" class="dropdown-item notify-item">
                        New Car Feature
                    </a>

                    <!-- item-->
                    <a asp-area="Admin" asp-controller="About" asp-action="Create" class="dropdown-item notify-item">
                        New About
                    </a>

                    <!-- item-->
                    <a asp-area="Admin" asp-controller="Blog" asp-action="Create" class="dropdown-item notify-item">
                        New Blog
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        Reservations
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        Go to site
                    </a>
                </div>
            </div>
        </div>

        <div class="d-flex align-items-center">

            <div class="dropdown d-none d-sm-inline-block ml-2">
                <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="mdi mdi-magnify"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                     aria-labelledby="page-header-search-dropdown">

                    <form class="p-3">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="" src="~/admin-template/vertical/assets/images/flags/us.jpg" alt="Header Language" height="16">
                    <span class="d-none d-sm-inline-block ml-1">English</span>
                    <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <img src="~/admin-template/vertical/assets/images/flags/turkey.jpg" alt="user-image" class="mr-1" height="12"> <span class="align-middle">Turkish</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <img src="~/admin-template/vertical/assets/images/flags/spain.jpg" alt="user-image" class="mr-1" height="12"> <span class="align-middle">Spanish</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <img src="~/admin-template/vertical/assets/images/flags/germany.jpg" alt="user-image" class="mr-1" height="12"> <span class="align-middle">German</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <img src="~/admin-template/vertical/assets/images/flags/italy.jpg" alt="user-image" class="mr-1" height="12"> <span class="align-middle">Italian</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <img src="~/admin-template/vertical/assets/images/flags/russia.jpg" alt="user-image" class="mr-1" height="12"> <span class="align-middle">Russian</span>
                    </a>
                </div>
            </div>

            <div class="dropdown d-inline-block">
                <!-- Add inline overflow to show badge pills correctly -->
                <button style="overflow: visible;" type="button" class="btn header-item noti-icon waves-effect" id="page-header-notifications-dropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="mdi mdi-bell"></i>
                    <!-- Notification Counter -->
                    <span class="badge badge-danger badge-pill notification-counter" style="overflow: visible !important">
                        0
                    </span>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                     aria-labelledby="page-header-notifications-dropdown">
                    <div class="p-3">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="m-0"> Notifications </h6>
                            </div>
                            <div class="col-auto">
                                <a href="#!" class="small"> View All</a>
                            </div>
                        </div>
                    </div>
                    <div data-simplebar style="max-height: 230px;" id="notification-container">
                        <!-- Notification Item -->
                        <a href="" class="text-reset notification-item">
                            <div class="media">
                                <div class="avatar-xs mr-3">
                                    <span class="avatar-title bg-success rounded-circle">
                                        <i class="mdi mdi-cloud-download-outline"></i>
                                    </span>
                                </div>
                                <div class="media-body">
                                    <h6 class="mt-0 mb-1">Download Available !</h6>
                                    <p class="font-size-12 mb-1">Latest version of admin is now available. Please download here.</p>
                                    <p class="font-size-12 mb-0 text-muted"><i class="mdi mdi-clock-outline"></i> 4 hours ago</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="p-2 border-top">
                        <a class="btn btn-sm btn-light btn-block text-center" href="javascript:void(0)">
                            <i class="mdi mdi-arrow-down-circle mr-1"></i> Load More..
                        </a>
                    </div>
                </div>
            </div>

            <div class="dropdown d-inline-block ml-2">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user" src="~/admin-template/vertical/assets/images/users/avatar-3.jpg"
                         alt="Header Avatar">
                    <span class="d-none d-sm-inline-block ml-1">
                        @User.FindFirst(JwtRegisteredClaimNames.GivenName)?.Value
                    </span>
                    <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="javascript:void(0)">
                        <span>Inbox</span>
                        <span>
                            <span class="badge badge-pill badge-info">3</span>
                        </span>
                    </a>
                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="javascript:void(0)">
                        <span>Profile</span>
                        <span>
                            <span class="badge badge-pill badge-warning">1</span>
                        </span>
                    </a>
                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="javascript:void(0)">
                        Settings
                    </a>
                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="javascript:void(0)">
                        <span>Lock Account</span>
                    </a>
                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="javascript:void(0)">
                        <span>Log Out</span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</header>

<!-- jQuery  -->
<script src="~/admin-template/vertical/assets/js/jquery.min.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script>

    $(document).ready(function () {
        function updateNotificationCount() {
            let count = $(".notification-item").length;

            let notificationBadge = $(".notification-counter");

            if (count > 99) {
                notificationBadge.text("99+"); // Show "99+" if count exceeds 99
            } else {
                notificationBadge.text(count); // Show actual count if it's 99 or below
            }
        }

        function addNotification(message) {
            const createdDate = new Date(message.createdDate);
            const timeAgo = Math.floor((Date.now() - createdDate.getTime()) / 1000); // in seconds
            let timeDisplay;

            if (timeAgo < 60) {
                timeDisplay = `${timeAgo} seconds ago`;
            } else if (timeAgo < 3600) {
                timeDisplay = `${Math.floor(timeAgo / 60)} minutes ago`;
            } else if (timeAgo < 86400) {
                timeDisplay = `${Math.floor(timeAgo / 3600)} hours ago`;
            } else {
                timeDisplay = `${Math.floor(timeAgo / 86400)} days ago`;
            }

            const notification =
            `
                <div class="media">
                    <img src="/admin-template/vertical/assets/images/users/user-avatar-1.svg"
                        class="mr-3 rounded-circle avatar-xs" alt="user-pic">
                    <div class="media-body">
                        <h6 class="mt-0 mb-1">New Blog Comment!</h6>
                        <p class="font-size-12 mb-1">
                            ${message.name} commented
                            ${message.blog.title}
                        </p>
                        <p class="font-size-12 mb-0 text-muted">
                            <i class="mdi mdi-clock-outline"></i>
                            ${timeDisplay}
                        </p>
                    </div>
                </div>
                `

            const notificationParent = document.createElement('a');
            notificationParent.classList.add('text-reset', 'notification-item');
            notificationParent.href = "";
            notificationParent.innerHTML = notification;

            // Add the notification item to the correct SimpleBar content wrapper
            const notificationContainer = document.querySelector('#notification-container .simplebar-content');
            if (!notificationContainer) {
                console.error("Notification container not found!");
                return;
            }

            console.log("Adding new notification to the container...");
            console.log(notificationParent);
            notificationContainer.appendChild(notificationParent);
        }

        updateNotificationCount();

        // Example: If notifications are dynamically added, re-run the function
        $(document).on("DOMNodeInserted DOMNodeRemoved", ".notification-item", function () {
            updateNotificationCount();
        });

        const connection = new signalR.HubConnectionBuilder()
            .withUrl("https://localhost:7116/notificationHub")
            .withAutomaticReconnect()
            .build();

        console.log("Attempting to start SignalR connection...");


        connection.start()
            .then(function () {
                console.log("SignalR Connected successfully!");
            })
            .catch(function (err) {
                console.error("SignalR Connection Error: ", err.toString());
            });

        connection.onclose(function (error) {
            console.warn("SignalR Connection closed. Reason:", error ? error.toString() : "No error provided.");
        });

        connection.on("ReceiveNotification", (message) => {
            console.log("New Notification: ", message);
            addNotification(message);
            updateNotificationCount();
        });

    });

</script>
