<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div class="navbar-brand-box">
            <a asp-area="Admin" asp-controller="Car" asp-action="Index" class="logo">
                <i class="fas fa-user-cog"></i>
                <span>
                    Carbook Admin
                </span>
            </a>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Special Actions</li>
                <li>
                    <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="waves-effect">
                        <i class="feather-airplay"></i>
                        <span>Dashboard</span>
                    </a>
                <li>
                <li>
                    <a asp-area="Admin" asp-controller="Statistics" asp-action="Index" class="waves-effect">
                        <i class="fas fa-chart-bar"></i>
                        <span>Statistics</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index" target="_blank" class="waves-effect">
                        <i class="fas fa-home"></i>
                        <span>Site</span>
                    </a>
                </li>
                <li class="menu-title">Site Management Actions</li>
                <li>
                    <a asp-area="Admin" asp-controller="About" asp-action="Index" class="waves-effect">
                        <i class="fas fa-info-circle"></i>
                        <span>About</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Banner" asp-action="Index" class="waves-effect">
                        <i class="fas fa-list"></i>
                        <span>Banners</span>
                    </a>
                </li>

                @* Blog Actions Sub Menu *@
                <li>
                    <a class="has-arrow waves-effect">
                        <i class="fas fa-file-signature"></i>
                        <span>Blog Actions</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li>
                            <a asp-area="Admin" asp-controller="Blog" asp-action="Index" class="waves-effect">
                                <i class="fas fa-list"></i>
                                <span>Blog List</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="BlogAuthor" asp-action="Index" class="waves-effect">
                                <i class="fas fa-pen"></i>
                                <span>Blog Authors</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="BlogCategory" asp-action="Index" class="waves-effect">
                                <i class="fas fa-sitemap"></i>
                                <span>Blog Categories</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="BlogTag" asp-action="Index" class="waves-effect">
                                <i class="fas fa-tags"></i>
                                <span>Blog Tags</span>
                            </a>
                        </li>
                    </ul>
                </li>

                @* Car actions sub menu *@
                <li>
                    <a class="has-arrow waves-effect">
                        <i class="fas fa-car"></i>
                        <span>Car Actions</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li>
                            <a asp-area="Admin" asp-controller="Car" asp-action="Index" class="waves-effect">
                                <i class="fas fa-list"></i>
                                <span>Car List</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="Brand" asp-action="Index" class="waves-effect">
                                <i class="fas fa-building"></i>
                                <span>Car Brands</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="Feature" asp-action="Index" class="waves-effect">
                                <i class="fas fa-tools"></i>
                                <span>Car Features</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a asp-area="Admin" asp-controller="Contact" asp-action="Index" class="waves-effect">
                        <i class="fas fa-phone"></i>
                        <span>Contacts</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="FooterAddress" asp-action="Index" class="waves-effect">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Footer Addresses</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Location" asp-action="Index" class="waves-effect">
                        <i class="fas fa-globe-americas"></i>
                        <span>Locations</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="PricingPlan" asp-action="Index" class="waves-effect">
                        <i class="fas fa-clock"></i>
                        <span>Rental Periods</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="SocialMedia" asp-action="Index" class="waves-effect">
                        <i class="fab fa-twitter"></i>
                        <span>Social Medias</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Service" asp-action="Index" class="waves-effect">
                        <i class="fas fa-truck-loading"></i>
                        <span>Services</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Testimonial" asp-action="Index" class="waves-effect">
                        <i class="fas fa-people-carry"></i>
                        <span>Testimonials</span>
                    </a>
                </li>
                <li class="menu-title">Account Actions</li>
                <li>
                    <a asp-area="Admin" asp-controller="Service" asp-action="Index" class="waves-effect">
                        <i class="fas fa-cog"></i>
                        <span>Settings</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Exit" asp-action="Index" class="waves-effect">
                        <i class="fas fa-door-open"></i>
                        <span>Exit</span>
                    </a>
                </li>


                <li class="menu-title">Developer Actions</li>
                <li>
                    <a href="/admin-template/vertical/index.html" class="waves-effect">
                        <i class="fas fa-keyboard"></i>
                        <span>Go to Template</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>