@model IEnumerable<CarBook.Application.Dtos.CarReviewDtos.GetCarReviewByCarIdDto>
@{
    const int MaxStartCount = 5;
}


<div class="row">
    <div class="col-md-7">
        <h3 class="head">@await Component.InvokeAsync("CarReviewCount", new { carId = ViewData["CarId"] })  Reviews</h3>
        @foreach (var item in Model)
        {
            <div class="review d-flex">
                <div class="user-img" style="background-image: url(/website-template/images/default_profile.png)"></div>
                <div class="desc">
                    <h4>
                        <span class="text-left">@item.CustomerFirstName @item.CustomerLastName</span>
                        <span class="text-right">
                            @item.ReviewDate.ToString("dd MMMM yyyy", System.Globalization.CultureInfo.InvariantCulture)
                        </span>
                    </h4>
                    <p class="star">
                        <span>
                            @for (int i = 0; i < item.RatingStarCount; i++)
                            {
                                <i class="ion-ios-star"></i>
                            }
                            @for (int i = 0; i < MaxStartCount - item.RatingStarCount; i++)
                            {
                                <i class="ion-ios-star-outline"></i>
                            }
                        </span>
                    </p>
                    <p>
                        @item.Review
                    </p>
                </div>
            </div>
        }
    </div>
    <div class="col-md-5">
        <div class="rating-wrap">
            <h3 class="head">Give a Review</h3>
            <div class="wrap">
                <p class="star">
                    <span>
                        <i class="ion-ios-star"></i>
                        <i class="ion-ios-star"></i>
                        <i class="ion-ios-star"></i>
                        <i class="ion-ios-star"></i>
                        <i class="ion-ios-star"></i>
                        (98%)
                    </span>
                    <span>20 Reviews</span>
                </p>
                <p class="star">
                    <span>
                        <i class="ion-ios-star"></i>
                        <i class="ion-ios-star"></i>
                        <i class="ion-ios-star"></i>
                        <i class="ion-ios-star"></i>
                        <i class="ion-ios-star"></i>
                        (85%)
                    </span>
                    <span>10 Reviews</span>
                </p>
                <p class="star">
                    <span>
                        <i class="ion-ios-star"></i>
                        <i class="ion-ios-star"></i>
                        <i class="ion-ios-star"></i>
                        <i class="ion-ios-star"></i>
                        <i class="ion-ios-star"></i>
                        (70%)
                    </span>
                    <span>5 Reviews</span>
                </p>
                <p class="star">
                    <span>
                        <i class="ion-ios-star"></i>
                        <i class="ion-ios-star"></i>
                        <i class="ion-ios-star"></i>
                        <i class="ion-ios-star"></i>
                        <i class="ion-ios-star"></i>
                        (10%)
                    </span>
                    <span>0 Reviews</span>
                </p>
                <p class="star">
                    <span>
                        <i class="ion-ios-star"></i>
                        <i class="ion-ios-star"></i>
                        <i class="ion-ios-star"></i>
                        <i class="ion-ios-star"></i>
                        <i class="ion-ios-star"></i>
                        (0%)
                    </span>
                    <span>0 Reviews</span>
                </p>
            </div>
        </div>
    </div>
</div>