@model IEnumerable<GetBlogCategoriesDto>

<div class="sidebar-box ftco-animate">
    <div class="categories">
        <h3>Categories</h3>
        @foreach (var item in Model)
        {
            <li>
                <a asp-area="" asp-controller="Blog" asp-action="GetAllByBlogCategoryId" asp-route-blogCategoryId="@item.Id">
                    @item.Name
                    <span>
                    @await Component.InvokeAsync("BlogCountByBlogCategory", new { blogCategoryId = item.Id }) 
                    </span>
                </a>
            </li>
        }
    </div>
</div>