@model GetBrandHasMaxModelCountDto

<div class="col-md-6 col-xl-3">
    <div class="card bg-primary bg-gradient">
        <div class="card-body">
            <div class="mb-4">
                <h5 class="card-title mb-0 text-white">Brand Has Max Model Count</h5>
            </div>
            <div class="row d-flex align-items-center mb-4">
                <div class="col-8">
                    <h2 class="d-flex align-items-center text-white mb-0">
                        <i class="fas fa-car-alt mr-2"></i>
                        @Model.ModelCount
                    </h2>
                </div>
                <div class="col-4 text-right">
                    <span class="text-white-50">@Model.BrandName</span>
                </div>
            </div>
        </div>
    </div>
</div>