<div class="container-fluid">
    <div class="row">
        @await Component.InvokeAsync("CarCountWidget")
        @await Component.InvokeAsync("CarCountByFuelTypeWidget", new { fuelTypes = new CarBook.Domain.Enums.FuelType[] { CarBook.Domain.Enums.FuelType.Petrol, CarBook.Domain.Enums.FuelType.Diesel } })
        @await Component.InvokeAsync("CarCountByTransmissionTypeWidget", new { transmissionTypes = new CarBook.Domain.Enums.TransmissionType[] { CarBook.Domain.Enums.TransmissionType.SemiAutomatic } })
        @await Component.InvokeAsync("BlogAuthorCountWidget")
        @await Component.InvokeAsync("LocationCountWidget")
        @await Component.InvokeAsync("BlogCountWidget")
        @await Component.InvokeAsync("BrandCountWidget")
        @await Component.InvokeAsync("BlogHasMaxCommentCountWidget")
        @await Component.InvokeAsync("BrandHasMaxModelCountWidget")
        @await Component.InvokeAsync("AverageCarRentalPriceWidget", new { rentalPeriods = new string[] { "day, month"} })
    </div>
</div>