<section class="ftco-section ftco-intro" style="background-image: url(website-template/images/bg_c.png);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 heading-section heading-section-white ftco-animate">
                <h2 class="mb-3">
                    Do you want to read our best blog posts?
                </h2>
                <a asp-area="" asp-controller="Blog" asp-action="Index" class="btn btn-primary btn-lg">
                    Blogs <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>