<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Car<span>Book</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="SmartBook" asp-action="Recommend" class="nav-link">
                        <i class="bi bi-stars"></i>
                        SmartBook
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="About" asp-action="Index" class="nav-link">
                        About
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Service" asp-action="Index" class="nav-link">
                        Services
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Pricing" asp-action="Index" class="nav-link">
                        Pricing
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Car" asp-action="Index" class="nav-link">
                        Cars
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Blog" asp-action="Index" class="nav-link">
                        Blog
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Contact" asp-action="Index" class="nav-link">
                        Contact
                    </a>
                </li>
                @if (User.Identity is not null && User.IsInRole(CarBook.Domain.Enums.AppUserRole.Admin.ToString()))
                {
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="nav-link">
                            Admin
                        </a>
                    </li>
                }
                <li class="nav-item rounded-lg profile">
                    @if (User.Identity is not null && User.Identity.IsAuthenticated)
                    {

                        <a asp-area="" asp-controller="Auth" asp-action="Logout" class="nav-link">
                            Hello,  @User.FindFirst(JwtRegisteredClaimNames.GivenName)?.Value
                        </a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Auth" asp-action="Login" class="nav-link">
                            <i class="bi bi-person-fill"></i>
                            Profile
                        </a>
                    }
                </li>
            </ul>
        </div>
    </div>
</nav>