@model IEnumerable<GetBlogTagsByIdDto>
@{
    int rowNumber = 1;
}


<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Blog Tags for Selected Blog</h4>
                    <p class="card-subtitle mb-4">
                        Manage car features efficiently. Add, edit, or remove features like sunroof, leather seats, or parking sensors using the provided actions.
                    </p>
                    <div class="mb-2">
                        <a asp-area="" asp-controller="Blog" asp-action="GetById" asp-route-id="@ViewData["BlockId"]" class="btn btn-info waves-effect waves-light">
                            <i class="fas fa-file-alt"></i>
                            Go to blog
                        </a>
                    </div>
                    @if (!Model.Any())
                    {
                        <div class="alert alert-info">
                            There is no blog tags here. Please create a new one.
                        </div>
                    }
                    else
                    {
                        <div class="table-responsive">
                            <table class="table table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <th scope="row">@(rowNumber++)</th>
                                        <td>
                                            <a class="btn btn-primary btn-rounded text-white">
                                                <i class="fas fa-tags"></i>
                                                @item.Name
                                            </a>
                                        </td>
                                        <td>
                                            <a asp-area="Admin" asp-controller="BlogTag" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger text-white">
                                                <i class="bi bi-trash3-fill"></i>
                                                Remove
                                            </a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }

                </div>
                <!-- end card-body-->
            </div>
            <!-- end card -->

        </div>
    </div>
</div>
